<a href="https://colab.research.google.com/github/yulingchen628/10901ML/blob/main/ML_HW04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/bank-full.csv')
data.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [4]:
data.shape

(45211, 17)

In [5]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

LabelEncoder

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
data['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [8]:
data['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [9]:
data['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [10]:
data['default'].unique()

array(['no', 'yes'], dtype=object)

In [11]:
data['housing'].unique()

array(['yes', 'no'], dtype=object)

In [12]:
data['loan'].unique()

array(['no', 'yes'], dtype=object)

In [13]:
data['contact'].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [14]:
data['month'].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [15]:
data['poutcome'].unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [16]:
data['y'].unique()

array(['no', 'yes'], dtype=object)

In [17]:
data['job'] = le.fit_transform(data['job'])
data['marital'] = le.fit_transform(data['marital'])
data['education'] = le.fit_transform(data['education'])
data['default'] = le.fit_transform(data['default'])
data['housing'] = le.fit_transform(data['housing'])
data['loan'] = le.fit_transform(data['loan'])
data['contact'] = le.fit_transform(data['contact'])
data['month'] = le.fit_transform(data['month'])
data['poutcome'] = le.fit_transform(data['poutcome'])
data['y'] = le.fit_transform(data['y'])
data

       age  job  marital  education  ...  pdays  previous  poutcome  y
0       58    4        1          2  ...     -1         0         3  0
1       44    9        2          1  ...     -1         0         3  0
2       33    2        1          1  ...     -1         0         3  0
3       47    1        1          3  ...     -1         0         3  0
4       33   11        2          3  ...     -1         0         3  0
...    ...  ...      ...        ...  ...    ...       ...       ... ..
45206   51    9        1          2  ...     -1         0         3  1
45207   71    5        0          0  ...     -1         0         3  1
45208   72    5        1          1  ...    184         3         2  1
45209   57    1        1          1  ...     -1         0         3  0
45210   37    2        1          1  ...    188        11         1  0

[45211 rows x 17 columns]

In [18]:
X = data[['age','job','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']]
Y = data['y'].values

In [19]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [20]:
X_scaled = ss.fit_transform(X)
X_scaled

array([[ 1.60696496, -0.10381968,  1.03636182, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [ 0.28852927,  1.42400783, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.74738448, -0.71495069, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       ...,
       [ 2.92540065,  0.20174582, -0.30055587, ...,  1.43618859,
         1.05047333, -0.56617504],
       [ 1.51279098, -1.02051619, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.37068857, -0.71495069, -0.30055587, ...,  1.4761376 ,
         4.52357654, -1.57724822]])

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [22]:
pca = PCA(n_components=12)
pca.fit(X_scaled)
X_scaled = pca.fit_transform(X_scaled)

In [23]:
X_train,X_test,Y_train,Y_test = train_test_split(X_scaled,Y,test_size=0.2,random_state=1234)

SVM

In [24]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

In [25]:
svc = SVC(kernel='rbf')
cross_val_score(svc,X_test,Y_test,scoring='accuracy',cv=10).mean()

0.8921812203588715

NN

In [26]:
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [27]:
model = Sequential() 
model.add(Dense(50,activation='tanh',input_shape=(12,)))
model.add(Dense(30,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [28]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                650
_________________________________________________________________
dense_1 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 2,211
Trainable params: 2,211
Non-trainable params: 0
_________________________________________________________________

In [29]:
model.fit(X_train,Y_train,epochs=50,batch_size=12)

Epoch 1/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2615 - accuracy: 0.8909
Epoch 2/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2481 - accuracy: 0.8939
Epoch 3/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2435 - accuracy: 0.8957
Epoch 4/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2404 - accuracy: 0.8962
Epoch 5/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2383 - accuracy: 0.8965
Epoch 6/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2365 - accuracy: 0.8972
Epoch 7/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2347 - accuracy: 0.8989
Epoch 8/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2333 - accuracy: 0.8977
Epoch 9/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2319 - accuracy: 0.8994
Epoch 10/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2304 - accuracy: 0.8988
Epoch 11/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2292 - accuracy: 0.8996
Epoch 12/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2282 - accuracy: 0.8996
Epoch 13/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2273 - accuracy: 0.8996
Epoch 14/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2262 - accuracy: 0.9001
Epoch 15/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2255 - accuracy: 0.9004
Epoch 16/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2246 - accuracy: 0.9003
Epoch 17/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2240 - accuracy: 0.9005
Epoch 18/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2230 - accuracy: 0.9008
Epoch 19/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2223 - accuracy: 0.9021
Epoch 20/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2215 - accuracy: 0.9014
Epoch 21/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2210 - accuracy: 0.9025
Epoch 22/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2200 - accuracy: 0.9020
Epoch 23/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2192 - accuracy: 0.9022
Epoch 24/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2187 - accuracy: 0.9035
Epoch 25/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2173 - accuracy: 0.9036
Epoch 26/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2170 - accuracy: 0.9038
Epoch 27/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2164 - accuracy: 0.9039
Epoch 28/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2158 - accuracy: 0.9040
Epoch 29/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2147 - accuracy: 0.9046
Epoch 30/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2137 - accuracy: 0.9049
Epoch 31/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2135 - accuracy: 0.9052
Epoch 32/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2129 - accuracy: 0.9052
Epoch 33/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2122 - accuracy: 0.9059
Epoch 34/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2116 - accuracy: 0.9059
Epoch 35/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2110 - accuracy: 0.9058
Epoch 36/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2104 - accuracy: 0.9058
Epoch 37/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2101 - accuracy: 0.9061
Epoch 38/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2090 - accuracy: 0.9073
Epoch 39/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2086 - accuracy: 0.9076
Epoch 40/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2080 - accuracy: 0.9073
Epoch 41/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2073 - accuracy: 0.9082
Epoch 42/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2065 - accuracy: 0.9089
Epoch 43/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2065 - accuracy: 0.9083
Epoch 44/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2057 - accuracy: 0.9089
Epoch 45/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2051 - accuracy: 0.9086
Epoch 46/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2042 - accuracy: 0.9090
Epoch 47/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2040 - accuracy: 0.9099
Epoch 48/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2033 - accuracy: 0.9095
Epoch 49/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2031 - accuracy: 0.9103
Epoch 50/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2020 - accuracy: 0.9106

In [30]:
test_los,test_acc = model.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 811us/step - loss: 0.2403 - accuracy: 0.8954

Logistic Regression with NN

In [31]:
model1 = Sequential() 
model1.add(Dense(1,activation='sigmoid'))
model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [32]:
model1.fit(X_train,Y_train,epochs=50,batch_size=12)

Epoch 1/50
3014/3014 [==============================] - 2s 802us/step - loss: 0.4283 - accuracy: 0.8304
Epoch 2/50
3014/3014 [==============================] - 2s 818us/step - loss: 0.2819 - accuracy: 0.8889
Epoch 3/50
3014/3014 [==============================] - 2s 789us/step - loss: 0.2754 - accuracy: 0.8885
Epoch 4/50
3014/3014 [==============================] - 2s 785us/step - loss: 0.2750 - accuracy: 0.8886
Epoch 5/50
3014/3014 [==============================] - 2s 790us/step - loss: 0.2748 - accuracy: 0.8883
Epoch 6/50
3014/3014 [==============================] - 4s 1ms/step - loss: 0.2748 - accuracy: 0.8887
Epoch 7/50
3014/3014 [==============================] - 3s 877us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 8/50
3014/3014 [==============================] - 3s 845us/step - loss: 0.2747 - accuracy: 0.8890
Epoch 9/50
3014/3014 [==============================] - 3s 867us/step - loss: 0.2747 - accuracy: 0.8886
Epoch 10/50
3014/3014 [==============================] - 3s 834us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 11/50
3014/3014 [==============================] - 3s 864us/step - loss: 0.2748 - accuracy: 0.8892
Epoch 12/50
3014/3014 [==============================] - 2s 808us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 13/50
3014/3014 [==============================] - 3s 837us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 14/50
3014/3014 [==============================] - 3s 844us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 15/50
3014/3014 [==============================] - 2s 790us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 16/50
3014/3014 [==============================] - 2s 817us/step - loss: 0.2747 - accuracy: 0.8888
Epoch 17/50
3014/3014 [==============================] - 2s 816us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 18/50
3014/3014 [==============================] - 2s 824us/step - loss: 0.2747 - accuracy: 0.8885
Epoch 19/50
3014/3014 [==============================] - 3s 835us/step - loss: 0.2747 - accuracy: 0.8885
Epoch 20/50
3014/3014 [==============================] - 2s 810us/step - loss: 0.2747 - accuracy: 0.8887
Epoch 21/50
3014/3014 [==============================] - 2s 809us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 22/50
3014/3014 [==============================] - 2s 813us/step - loss: 0.2748 - accuracy: 0.8893
Epoch 23/50
3014/3014 [==============================] - 2s 810us/step - loss: 0.2747 - accuracy: 0.8888
Epoch 24/50
3014/3014 [==============================] - 2s 800us/step - loss: 0.2747 - accuracy: 0.8885
Epoch 25/50
3014/3014 [==============================] - 2s 808us/step - loss: 0.2747 - accuracy: 0.8890
Epoch 26/50
3014/3014 [==============================] - 2s 810us/step - loss: 0.2747 - accuracy: 0.8887
Epoch 27/50
3014/3014 [==============================] - 2s 810us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 28/50
3014/3014 [==============================] - 2s 822us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 29/50
3014/3014 [==============================] - 2s 792us/step - loss: 0.2747 - accuracy: 0.8887
Epoch 30/50
3014/3014 [==============================] - 3s 840us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 31/50
3014/3014 [==============================] - 2s 825us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 32/50
3014/3014 [==============================] - 2s 811us/step - loss: 0.2747 - accuracy: 0.8888
Epoch 33/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2748 - accuracy: 0.8888
Epoch 34/50
3014/3014 [==============================] - 3s 861us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 35/50
3014/3014 [==============================] - 3s 876us/step - loss: 0.2747 - accuracy: 0.8884
Epoch 36/50
3014/3014 [==============================] - 3s 936us/step - loss: 0.2747 - accuracy: 0.8888
Epoch 37/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2748 - accuracy: 0.8891
Epoch 38/50
3014/3014 [==============================] - 3s 993us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 39/50
3014/3014 [==============================] - 3s 870us/step - loss: 0.2747 - accuracy: 0.8890
Epoch 40/50
3014/3014 [==============================] - 2s 790us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 41/50
3014/3014 [==============================] - 3s 830us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 42/50
3014/3014 [==============================] - 2s 801us/step - loss: 0.2747 - accuracy: 0.8887
Epoch 43/50
3014/3014 [==============================] - 2s 795us/step - loss: 0.2747 - accuracy: 0.8892
Epoch 44/50
3014/3014 [==============================] - 2s 790us/step - loss: 0.2748 - accuracy: 0.8886
Epoch 45/50
3014/3014 [==============================] - 3s 833us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 46/50
3014/3014 [==============================] - 2s 780us/step - loss: 0.2747 - accuracy: 0.8883
Epoch 47/50
3014/3014 [==============================] - 2s 799us/step - loss: 0.2748 - accuracy: 0.8891
Epoch 48/50
3014/3014 [==============================] - 2s 815us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 49/50
3014/3014 [==============================] - 2s 823us/step - loss: 0.2748 - accuracy: 0.8885
Epoch 50/50
3014/3014 [==============================] - 2s 816us/step - loss: 0.2748 - accuracy: 0.8888

In [33]:
test_los,test_acc = model1.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 792us/step - loss: 0.2660 - accuracy: 0.8941