<a href="https://colab.research.google.com/github/yulingchen628/10901ML/blob/main/ML_HW04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data = pd.read_csv('/content/drive/MyDrive/bank-full.csv')
data.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [4]:
data.shape

(45211, 17)

In [5]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

LabelEncoder

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
data['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [8]:
data['marital'].unique()

array(['married', 'single', 'divorced'], dtype=object)

In [9]:
data['education'].unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [10]:
data['default'].unique()

array(['no', 'yes'], dtype=object)

In [11]:
data['housing'].unique()

array(['yes', 'no'], dtype=object)

In [12]:
data['loan'].unique()

array(['no', 'yes'], dtype=object)

In [13]:
data['contact'].unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [14]:
data['month'].unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [15]:
data['poutcome'].unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [16]:
data['y'].unique()

array(['no', 'yes'], dtype=object)

In [17]:
data['job'] = le.fit_transform(data['job'])
data['marital'] = le.fit_transform(data['marital'])
data['education'] = le.fit_transform(data['education'])
data['default'] = le.fit_transform(data['default'])
data['housing'] = le.fit_transform(data['housing'])
data['loan'] = le.fit_transform(data['loan'])
data['contact'] = le.fit_transform(data['contact'])
data['month'] = le.fit_transform(data['month'])
data['poutcome'] = le.fit_transform(data['poutcome'])
data['y'] = le.fit_transform(data['y'])
data

       age  job  marital  education  ...  pdays  previous  poutcome  y
0       58    4        1          2  ...     -1         0         3  0
1       44    9        2          1  ...     -1         0         3  0
2       33    2        1          1  ...     -1         0         3  0
3       47    1        1          3  ...     -1         0         3  0
4       33   11        2          3  ...     -1         0         3  0
...    ...  ...      ...        ...  ...    ...       ...       ... ..
45206   51    9        1          2  ...     -1         0         3  1
45207   71    5        0          0  ...     -1         0         3  1
45208   72    5        1          1  ...    184         3         2  1
45209   57    1        1          1  ...     -1         0         3  0
45210   37    2        1          1  ...    188        11         1  0

[45211 rows x 17 columns]

In [18]:
X = data[['age','job','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']]
Y = data['y'].values

In [19]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()

In [20]:
X_scaled = ss.fit_transform(X)
X_scaled

array([[ 1.60696496, -0.10381968,  1.03636182, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [ 0.28852927,  1.42400783, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.74738448, -0.71495069, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       ...,
       [ 2.92540065,  0.20174582, -0.30055587, ...,  1.43618859,
         1.05047333, -0.56617504],
       [ 1.51279098, -1.02051619, -0.30055587, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.37068857, -0.71495069, -0.30055587, ...,  1.4761376 ,
         4.52357654, -1.57724822]])

In [21]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [22]:
pca = PCA(n_components=12)
pca.fit(X_scaled)
X_scaled = pca.fit_transform(X_scaled)

In [23]:
X_train,X_test,Y_train,Y_test = train_test_split(X_scaled,Y,test_size=0.2,random_state=1234)

LogisticRegression

In [24]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [25]:
lr.fit(X_train,Y_train)
lr.score(X_test,Y_test)

0.8937299568727193

Linear SVM

In [26]:
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC

In [27]:
svc = SVC(kernel='linear')
cross_val_score(svc,X_test,Y_test,scoring='accuracy',cv=10).mean()

0.8841094216007432

Non-linear SVM

In [28]:
svc = SVC(kernel='rbf')
cross_val_score(svc,X_test,Y_test,scoring='accuracy',cv=10).mean()

0.8921812203588715

MLNN

In [29]:
from tensorflow.keras import Sequential 
from tensorflow.keras.layers import Dense

In [30]:
model = Sequential() 
model.add(Dense(50,activation='tanh',input_shape=(12,)))
model.add(Dense(30,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [31]:
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 50)                650
_________________________________________________________________
dense_1 (Dense)              (None, 30)                1530
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 2,211
Trainable params: 2,211
Non-trainable params: 0
_________________________________________________________________

In [32]:
model.fit(X_train,Y_train,epochs=50,batch_size=12)

Epoch 1/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2679 - accuracy: 0.8873
Epoch 2/50
3014/3014 [==============================] - 3s 995us/step - loss: 0.2485 - accuracy: 0.8928
Epoch 3/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2430 - accuracy: 0.8956
Epoch 4/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2396 - accuracy: 0.8963
Epoch 5/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2373 - accuracy: 0.8969
Epoch 6/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2352 - accuracy: 0.8978
Epoch 7/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2333 - accuracy: 0.8982
Epoch 8/50
3014/3014 [==============================] - 3s 992us/step - loss: 0.2316 - accuracy: 0.8983
Epoch 9/50
3014/3014 [==============================] - 3s 999us/step - loss: 0.2307 - accuracy: 0.8983
Epoch 10/50
3014/3014 [==============================] - 3s 981us/step - loss: 0.2293 - accuracy: 0.8994
Epoch 11/50
3014/3014 [==============================] - 3s 998us/step - loss: 0.2280 - accuracy: 0.8992
Epoch 12/50
3014/3014 [==============================] - 3s 997us/step - loss: 0.2271 - accuracy: 0.8996
Epoch 13/50
3014/3014 [==============================] - 3s 988us/step - loss: 0.2262 - accuracy: 0.8995
Epoch 14/50
3014/3014 [==============================] - 3s 988us/step - loss: 0.2253 - accuracy: 0.9003
Epoch 15/50
3014/3014 [==============================] - 3s 992us/step - loss: 0.2247 - accuracy: 0.9006
Epoch 16/50
3014/3014 [==============================] - 3s 987us/step - loss: 0.2237 - accuracy: 0.9006
Epoch 17/50
3014/3014 [==============================] - 3s 996us/step - loss: 0.2235 - accuracy: 0.9008
Epoch 18/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2226 - accuracy: 0.9012
Epoch 19/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2219 - accuracy: 0.9017
Epoch 20/50
3014/3014 [==============================] - 3s 983us/step - loss: 0.2211 - accuracy: 0.9018
Epoch 21/50
3014/3014 [==============================] - 3s 979us/step - loss: 0.2203 - accuracy: 0.9022
Epoch 22/50
3014/3014 [==============================] - 3s 999us/step - loss: 0.2198 - accuracy: 0.9018
Epoch 23/50
3014/3014 [==============================] - 3s 987us/step - loss: 0.2191 - accuracy: 0.9018
Epoch 24/50
3014/3014 [==============================] - 3s 994us/step - loss: 0.2185 - accuracy: 0.9028
Epoch 25/50
3014/3014 [==============================] - 3s 996us/step - loss: 0.2175 - accuracy: 0.9036
Epoch 26/50
3014/3014 [==============================] - 3s 993us/step - loss: 0.2171 - accuracy: 0.9028
Epoch 27/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2165 - accuracy: 0.9032
Epoch 28/50
3014/3014 [==============================] - 3s 999us/step - loss: 0.2160 - accuracy: 0.9030
Epoch 29/50
3014/3014 [==============================] - 3s 989us/step - loss: 0.2148 - accuracy: 0.9031
Epoch 30/50
3014/3014 [==============================] - 3s 980us/step - loss: 0.2144 - accuracy: 0.9042
Epoch 31/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2139 - accuracy: 0.9039
Epoch 32/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2133 - accuracy: 0.9050
Epoch 33/50
3014/3014 [==============================] - 3s 1000us/step - loss: 0.2124 - accuracy: 0.9045
Epoch 34/50
3014/3014 [==============================] - 3s 999us/step - loss: 0.2118 - accuracy: 0.9039
Epoch 35/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2111 - accuracy: 0.9051
Epoch 36/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2109 - accuracy: 0.9049
Epoch 37/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2104 - accuracy: 0.9056
Epoch 38/50
3014/3014 [==============================] - 3s 994us/step - loss: 0.2097 - accuracy: 0.9060
Epoch 39/50
3014/3014 [==============================] - 3s 1ms/step - loss: 0.2088 - accuracy: 0.9060
Epoch 40/50
3014/3014 [==============================] - 3s 985us/step - loss: 0.2088 - accuracy: 0.9055
Epoch 41/50
3014/3014 [==============================] - 3s 995us/step - loss: 0.2076 - accuracy: 0.9069
Epoch 42/50
3014/3014 [==============================] - 3s 997us/step - loss: 0.2076 - accuracy: 0.9063
Epoch 43/50
3014/3014 [==============================] - 3s 994us/step - loss: 0.2066 - accuracy: 0.9073
Epoch 44/50
3014/3014 [==============================] - 3s 995us/step - loss: 0.2065 - accuracy: 0.9086
Epoch 45/50
3014/3014 [==============================] - 3s 995us/step - loss: 0.2057 - accuracy: 0.9080
Epoch 46/50
3014/3014 [==============================] - 3s 983us/step - loss: 0.2055 - accuracy: 0.9078
Epoch 47/50
3014/3014 [==============================] - 3s 1000us/step - loss: 0.2044 - accuracy: 0.9086
Epoch 48/50
3014/3014 [==============================] - 3s 997us/step - loss: 0.2046 - accuracy: 0.9078
Epoch 49/50
3014/3014 [==============================] - 3s 999us/step - loss: 0.2038 - accuracy: 0.9082
Epoch 50/50
3014/3014 [==============================] - 3s 1000us/step - loss: 0.2033 - accuracy: 0.9084

In [33]:
test_los,test_acc = model.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 790us/step - loss: 0.2368 - accuracy: 0.8954

Logistic Regression with MLNN

In [34]:
model1 = Sequential() 
model1.add(Dense(1,activation='sigmoid'))
model1.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [35]:
model1.fit(X_train,Y_train,epochs=50,batch_size=12)

Epoch 1/50
3014/3014 [==============================] - 2s 777us/step - loss: 0.4260 - accuracy: 0.8303
Epoch 2/50
3014/3014 [==============================] - 2s 774us/step - loss: 0.2822 - accuracy: 0.8885
Epoch 3/50
3014/3014 [==============================] - 2s 770us/step - loss: 0.2757 - accuracy: 0.8887
Epoch 4/50
3014/3014 [==============================] - 2s 767us/step - loss: 0.2749 - accuracy: 0.8888
Epoch 5/50
3014/3014 [==============================] - 2s 780us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 6/50
3014/3014 [==============================] - 2s 794us/step - loss: 0.2746 - accuracy: 0.8887
Epoch 7/50
3014/3014 [==============================] - 2s 767us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 8/50
3014/3014 [==============================] - 2s 785us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 9/50
3014/3014 [==============================] - 2s 769us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 10/50
3014/3014 [==============================] - 2s 769us/step - loss: 0.2748 - accuracy: 0.8892
Epoch 11/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2747 - accuracy: 0.8888
Epoch 12/50
3014/3014 [==============================] - 2s 780us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 13/50
3014/3014 [==============================] - 2s 766us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 14/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 15/50
3014/3014 [==============================] - 2s 782us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 16/50
3014/3014 [==============================] - 2s 774us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 17/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8891
Epoch 18/50
3014/3014 [==============================] - 2s 780us/step - loss: 0.2748 - accuracy: 0.8892
Epoch 19/50
3014/3014 [==============================] - 2s 775us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 20/50
3014/3014 [==============================] - 2s 774us/step - loss: 0.2748 - accuracy: 0.8888
Epoch 21/50
3014/3014 [==============================] - 2s 780us/step - loss: 0.2748 - accuracy: 0.8891
Epoch 22/50
3014/3014 [==============================] - 2s 772us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 23/50
3014/3014 [==============================] - 2s 777us/step - loss: 0.2747 - accuracy: 0.8884
Epoch 24/50
3014/3014 [==============================] - 2s 784us/step - loss: 0.2748 - accuracy: 0.8892
Epoch 25/50
3014/3014 [==============================] - 2s 779us/step - loss: 0.2747 - accuracy: 0.8890
Epoch 26/50
3014/3014 [==============================] - 2s 785us/step - loss: 0.2747 - accuracy: 0.8885
Epoch 27/50
3014/3014 [==============================] - 2s 792us/step - loss: 0.2747 - accuracy: 0.8886
Epoch 28/50
3014/3014 [==============================] - 2s 783us/step - loss: 0.2748 - accuracy: 0.8886
Epoch 29/50
3014/3014 [==============================] - 2s 782us/step - loss: 0.2747 - accuracy: 0.8884
Epoch 30/50
3014/3014 [==============================] - 2s 779us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 31/50
3014/3014 [==============================] - 2s 786us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 32/50
3014/3014 [==============================] - 2s 773us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 33/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 34/50
3014/3014 [==============================] - 2s 775us/step - loss: 0.2747 - accuracy: 0.8887
Epoch 35/50
3014/3014 [==============================] - 2s 776us/step - loss: 0.2747 - accuracy: 0.8885
Epoch 36/50
3014/3014 [==============================] - 2s 777us/step - loss: 0.2747 - accuracy: 0.8892
Epoch 37/50
3014/3014 [==============================] - 2s 781us/step - loss: 0.2747 - accuracy: 0.8886
Epoch 38/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8887
Epoch 39/50
3014/3014 [==============================] - 2s 777us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 40/50
3014/3014 [==============================] - 2s 782us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 41/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8885
Epoch 42/50
3014/3014 [==============================] - 2s 777us/step - loss: 0.2747 - accuracy: 0.8889
Epoch 43/50
3014/3014 [==============================] - 2s 775us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 44/50
3014/3014 [==============================] - 2s 773us/step - loss: 0.2748 - accuracy: 0.8892
Epoch 45/50
3014/3014 [==============================] - 2s 784us/step - loss: 0.2748 - accuracy: 0.8889
Epoch 46/50
3014/3014 [==============================] - 2s 779us/step - loss: 0.2747 - accuracy: 0.8890
Epoch 47/50
3014/3014 [==============================] - 2s 784us/step - loss: 0.2748 - accuracy: 0.8885
Epoch 48/50
3014/3014 [==============================] - 2s 778us/step - loss: 0.2748 - accuracy: 0.8890
Epoch 49/50
3014/3014 [==============================] - 2s 776us/step - loss: 0.2748 - accuracy: 0.8891
Epoch 50/50
3014/3014 [==============================] - 2s 766us/step - loss: 0.2747 - accuracy: 0.8884

In [36]:
test_los,test_acc = model1.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 747us/step - loss: 0.2667 - accuracy: 0.8935